@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  :root, .light {
    --background: theme('colors.white');
    --foreground: theme('colors.zinc.950');
  }

  .dark {
    --background: theme('colors.zinc.950');
    --foreground: theme('colors.zinc.50');
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply h-full antialiased selection:bg-zinc-200 selection:text-zinc-900 dark:selection:bg-zinc-800 dark:selection:text-zinc-50;
  }
}
